

#
# * <@insert_github_username>
# Each line is a file pattern followed by one or more owners.
# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
# These owners will be the default owners for everything in the repo.
# This file is also being managed automatically by the gitown tool.
.bumpversion.cfg benthevining
.clang-format benthevining
.clang-tidy benthevining
.cmake-format.json benthevining
.ecrc benthevining
.editorconfig benthevining
.gitattributes benthevining
.github/CODEOWNERS benthevining
.github/CODE_OF_CONDUCT.md benthevining
.github/FUNDING.yml benthevining
.github/ISSUE_TEMPLATE/bug_report.md benthevining
.github/ISSUE_TEMPLATE/config.yml benthevining
.github/ISSUE_TEMPLATE/feature_request.md benthevining
.github/dependabot.yml benthevining
.github/workflows/codeql-analysis.yml benthevining
.github/workflows/run_build.yml benthevining
.github/workflows/run_simple_build.yml benthevining
.github/workflows/test_and_release.yml benthevining
.gitignore benthevining
.gitlint benthevining
.gitownrc benthevining
.markdownlint.json benthevining
.nitpick.toml benthevining
.pre-commit-config.yaml benthevining
.style.yapf benthevining
.tool-versions benthevining
CMakeLists.txt benthevining
CMakePresets.json benthevining
Makefile benthevining
README.md benthevining
binary_builder/CMakeLists.txt benthevining
cmake/FindCatch2.cmake benthevining
cmake/FindOranges.cmake benthevining
cmake/LimesBinaryBuilder.cmake benthevining
cmake/LimesConfig.cmake benthevining
cmake/LimesConfigVersionHeader.cmake benthevining
cmake/LimesMacros.cmake benthevining
cmake/scripts/VersionHeader.h benthevining
cpp benthevining
ector.h benthevining
g
hevining
ing
libs/CMakeLists.txt benthevining
libs/limes.h benthevining
libs/limes_audio/CMakeLists.txt benthevining
libs/limes_audio/README.md benthevining
libs/limes_audio/filters/CMakeLists.txt benthevining
libs/limes_audio/filters/Coeffecients.cpp benthevining
libs/limes_audio/filters/Coeffecients.h benthevining
libs/limes_audio/filters/Filter.cpp benthevining
libs/limes_audio/limes_audio.h benthevining
libs/limes_audio/oscillators/DetunableModel.h benthevining
libs/limes_audio/oscillators/basic_oscillators.cpp benthevining
libs/limes_audio/oscillators/basic_oscillators.h benthevining
libs/limes_audio/psola/CMakeLists.txt benthevining
libs/limes_audio/psola/PeakFinder.cpp benthevining
libs/limes_audio/psola/PeakFinder.h benthevining
libs/limes_audio/psola/analyzer.cpp benthevining
libs/limes_audio/psola/analyzer.h benthevining
libs/limes_audio/psola/shifter.cpp benthevining
libs/limes_audio/psola/shifter.h benthevining
libs/limes_audio/streams/CMakeLists.txt benthevining
libs/limes_audio/streams/SampleStream.cpp benthevining
libs/limes_audio/streams/SampleStream.h benthevining
libs/limes_audio/streams/WhiteNoiseGenerator.cpp benthevining
libs/limes_audio/streams/WhiteNoiseGenerator.h benthevining
libs/limes_audio/streams/basic_oscillators.cpp benthevining
libs/limes_audio/streams/basic_oscillators.h benthevining
libs/limes_audio/streams/oscillator.cpp benthevining
libs/limes_audio/streams/oscillator.h benthevining
libs/limes_audio/util/CMakeLists.txt benthevining
libs/limes_audio/util/CircularBuffer.cpp benthevining
libs/limes_audio/util/Misc.h benthevining
libs/limes_audio/util/MonoStereoConverter.cpp benthevining
libs/limes_audio/util/MonoStereoConverter.h benthevining
libs/limes_audio/util/PerlinNoise.cpp benthevining
libs/limes_audio/util/PitchDetector.cpp benthevining
libs/limes_audio/util/PitchDetector.h benthevining
libs/limes_audio/util/Windowing.h benthevining
libs/limes_core/CMakeLists.txt benthevining
libs/limes_core/README.md benthevining
libs/limes_core/data_structures/CMakeLists.txt benthevining
libs/limes_core/data_structures/Dimensions.cpp benthevining
libs/limes_core/data_structures/Dimensions.h benthevining
libs/limes_core/data_structures/LinkedListModel.h benthevining
libs/limes_core/data_structures/LinkedListModel_impl.h benthevining
libs/limes_core/data_structures/Version.cpp benthevining
libs/limes_core/data_structures/Version.h benthevining
libs/limes_core/data_structures/vectors/CMakeLists.txt benthevining
libs/limes_core/data_structures/vectors/basic_vector.h benthevining
libs/limes_core/data_structures/vectors/owned_vector.h benthevining
libs/limes_core/data_structures/vectors/scalar_vector.h benthevining
libs/limes_core/data_structures/vectors/vector.h benthevining
libs/limes_core/files/FilesystemEntry.cpp benthevining
libs/limes_core/files/FilesystemEntry.h benthevining
libs/limes_core/files/directory.h benthevining
libs/limes_core/files/file.cpp benthevining
libs/limes_core/files/file.h benthevining
libs/limes_core/files/sym_link.h benthevining
libs/limes_core/limes_core.h benthevining
libs/limes_core/math/CMakeLists.txt benthevining
libs/limes_core/math/Fraction.h benthevining
libs/limes_core/math/Fraction_impl.h benthevining
libs/limes_core/math/Random.cpp benthevining
libs/limes_core/math/Random.h benthevining
libs/limes_core/math/fraction_staticAsserts.cpp benthevining
libs/limes_core/math/geometry/2D/2Dshape.h benthevining
libs/limes_core/math/geometry/3D/cylinder.h benthevining
libs/limes_core/math/geometry/CMakeLists.txt benthevining
libs/limes_core/math/geometry/area.h benthevining
libs/limes_core/math/geometry/perimeter.h benthevining
libs/limes_core/math/mathHelpers.h benthevining
libs/limes_core/math/math_staticAsserts.cpp benthevining
libs/limes_core/memory/AlignedAllocator.h benthevining
libs/limes_core/memory/CMakeLists.txt benthevining
libs/limes_core/memory/MemoryPool.cpp benthevining
libs/limes_core/memory/MemoryPool.h benthevining
libs/limes_core/memory/MemoryPoolAllocator.h benthevining
libs/limes_core/memory/ReferenceCountedObject.cpp benthevining
libs/limes_core/memory/ReferenceCountedObject.h benthevining
libs/limes_core/memory/SharedObject.h benthevining
libs/limes_core/memory/StaticObjects.h benthevining
libs/limes_core/memory/alignment.h benthevining
libs/limes_core/misc/Algorithm.h benthevining
libs/limes_core/misc/CMakeLists.txt benthevining
libs/limes_core/misc/Functions.h benthevining
libs/limes_core/misc/IgnoreUnused.h benthevining
libs/limes_core/misc/StaticObjects.h benthevining
libs/limes_core/misc/TypeTraits.h benthevining
libs/limes_core/misc/Version.cpp benthevining
libs/limes_core/misc/Version.h benthevining
libs/limes_core/misc/languages.cpp benthevining
libs/limes_core/misc/preprocessor.h benthevining
libs/limes_core/misc/version.proto benthevining
libs/limes_core/text/CMakeLists.txt benthevining
libs/limes_core/text/StringUtils.cpp benthevining
libs/limes_core/text/StringUtils.h benthevining
libs/limes_core/text/TextTable.cpp benthevining
libs/limes_core/text/TextTable.h benthevining
libs/limes_core/threading/CMakeLists.txt benthevining
libs/limes_core/threading/RealtimeSafeObject.h benthevining
libs/limes_core/threading/RealtimeSafeObject/AtomicObjectHolder.h benthevining
libs/limes_core/threading/RealtimeSafeObject/CMakeLists.txt benthevining
libs/limes_core/threading/RealtimeSafeObject/NonrealtimeMutatableObject.h benthevining
libs/limes_core/threading/RealtimeSafeObject/ObjectBase.h benthevining
libs/limes_core/threading/RealtimeSafeObject/RealtimeMutatableObject.h benthevining
libs/limes_core/threading/RealtimeSafeObject/RealtimeSafeObject_impl.h benthevining
libs/limes_core/threading/RealtimeTypeTraits.h benthevining
libs/limes_core/threading/ThreadSafeObject.h benthevining
libs/limes_core/threading/Threading.cpp benthevining
libs/limes_core/threading/Threading.h benthevining
libs/limes_core/time/CMakeLists.txt benthevining
libs/limes_core/time/build_date.h benthevining
libs/limes_core/time/date.h benthevining
libs/limes_core/time/month.h benthevining
libs/limes_core/time/time.cpp benthevining
libs/limes_core/time/weekday.h benthevining
libs/limes_data_structures/CMakeLists.txt benthevining
libs/limes_data_structures/README.md benthevining
libs/limes_data_structures/data_structures/AbstractFIFO.cpp benthevining
libs/limes_data_structures/data_structures/CMakeLists.txt benthevining
libs/limes_data_structures/data_structures/Dimensions.cpp benthevining
libs/limes_data_structures/data_structures/Dimensions.h benthevining
libs/limes_data_structures/data_structures/LinkedListModel.h benthevining
libs/limes_data_structures/data_structures/LinkedListModel_impl.h benthevining
libs/limes_data_structures/data_structures/Version.h benthevining
libs/limes_data_structures/data_structures/dimensions.proto benthevining
libs/limes_data_structures/fifo/AbstractFIFO.cpp benthevining
libs/limes_data_structures/fifo/CMakeLists.txt benthevining
libs/limes_data_structures/limes_data_structures.h benthevining
libs/limes_data_structures/linked_list/CMakeLists.txt benthevining
libs/limes_data_structures/linked_list/LinkedList.h benthevining
libs/limes_data_structures/linked_list/LinkedListModel_impl.h benthevining
libs/limes_data_structures/linked_list/LinkedList_impl.h benthevining
libs/limes_data_structures/vectors/CMakeLists.txt benthevining
libs/limes_data_structures/vectors/basic_vector.h benthevining
libs/limes_data_structures/vectors/owned_vector.h benthevining
libs/limes_data_structures/vectors/scalar_vector.h benthevining
libs/limes_data_structures/vectors/vector.h benthevining
libs/limes_locale/CMakeLists.txt benthevining
libs/limes_locale/countries/CMakeLists.txt benthevining
libs/limes_locale/countries/countries.cpp benthevining
libs/limes_locale/countries/countries.h benthevining
libs/limes_locale/languages/CMakeLists.txt benthevining
libs/limes_locale/languages/languages.cpp benthevining
libs/limes_locale/languages/languages.h benthevining
libs/limes_locale/limes_locale.h benthevining
libs/limes_midi/CMakeLists.txt benthevining
libs/limes_midi/README.md benthevining
libs/limes_midi/limes_midi.h benthevining
libs/limes_midi/tuning/CMakeLists.txt benthevining
libs/limes_midi/tuning/mts_client.cpp benthevining
libs/limes_midi/utilities/CMakeLists.txt benthevining
libs/limes_midi/utilities/PitchbendMapper.cpp benthevining
libs/limes_midi/utilities/PitchbendMapper.h benthevining
libs/limes_midi/utilities/VelocityMapper.cpp benthevining
libs/limes_midi/utilities/VelocityMapper.h benthevining
libs/limes_music/CMakeLists.txt benthevining
libs/limes_music/README.md benthevining
libs/limes_music/harmony/CMakeLists.txt benthevining
libs/limes_music/harmony/Chord.cpp benthevining
libs/limes_music/harmony/Chord.h benthevining
libs/limes_music/harmony/Pitch.cpp benthevining
libs/limes_music/harmony/Pitch.h benthevining
libs/limes_music/harmony/PitchClass.cpp benthevining
libs/limes_music/harmony/PitchClass.h benthevining
libs/limes_music/harmony/PitchUtils.h benthevining
libs/limes_music/harmony/intervals/CMakeLists.txt benthevining
libs/limes_music/harmony/intervals/CompoundInterval.cpp benthevining
libs/limes_music/harmony/intervals/CompoundInterval.h benthevining
libs/limes_music/harmony/intervals/CompoundInterval_impl.h benthevining
libs/limes_music/harmony/intervals/Interval.cpp benthevining
libs/limes_music/harmony/intervals/Interval.h benthevining
libs/limes_music/harmony/intervals/Interval_impl.h benthevining
libs/limes_music/harmony/intervals/MicrotonalInterval.h benthevining
libs/limes_music/harmony/scales/CMakeLists.txt benthevining
libs/limes_music/harmony/scales/Chromatic.cpp benthevining
libs/limes_music/harmony/scales/Chromatic.h benthevining
libs/limes_music/harmony/scales/KeySignature.cpp benthevining
libs/limes_music/harmony/scales/KeySignature.h benthevining
libs/limes_music/harmony/scales/KeySignature_impl.h benthevining
libs/limes_music/harmony/scales/Mode.cpp benthevining
libs/limes_music/harmony/scales/Mode.h benthevining
libs/limes_music/harmony/scales/Octatonic.cpp benthevining
libs/limes_music/harmony/scales/Octatonic.h benthevining
libs/limes_music/harmony/scales/Scale.cpp benthevining
libs/limes_music/harmony/scales/Scale.h benthevining
libs/limes_music/harmony/scales/WholeTone.cpp benthevining
libs/limes_music/harmony/scales/WholeTone.h benthevining
libs/limes_music/limes_music.h benthevining
libs/limes_music/rhythm/CMakeLists.txt benthevining
libs/limes_music/rhythm/NoteDuration.h benthevining
libs/limes_music/rhythm/NoteDuration_impl.h benthevining
libs/limes_music/rhythm/NoteLength.cpp benthevining
libs/limes_music/rhythm/NoteLength.h benthevining
libs/limes_music/rhythm/NoteLength_impl.h benthevining
libs/limes_music/rhythm/TimeSignature.h benthevining
libs/limes_vecops/CMakeLists.txt benthevining
libs/limes_vecops/README.md benthevining
libs/limes_vecops/fft/CMakeLists.txt benthevining
libs/limes_vecops/fft/fallback_fft.cpp benthevining
libs/limes_vecops/fft/fallback_fft.h benthevining
libs/limes_vecops/fft/fft.cpp benthevining
libs/limes_vecops/fft/fft_common.h benthevining
libs/limes_vecops/fft/fftw_fft.cpp benthevining
libs/limes_vecops/fft/fftw_fft.h benthevining
libs/limes_vecops/fft/ipp_fft.cpp benthevining
libs/limes_vecops/fft/ipp_fft.h benthevining
libs/limes_vecops/fft/limes_fft.cpp benthevining
libs/limes_vecops/fft/limes_fft.h benthevining
libs/limes_vecops/fft/vdsp_fft.cpp benthevining
libs/limes_vecops/fft/vdsp_fft.h benthevining
libs/limes_vecops/impl/CMakeLists.txt benthevining
libs/limes_vecops/impl/SelectImpl.cmake benthevining
libs/limes_vecops/impl/check_mipp.cpp benthevining
libs/limes_vecops/impl/fallback.h benthevining
libs/limes_vecops/impl/fallback_impl.cpp benthevining
libs/limes_vecops/impl/fallback_impl.h benthevining
libs/limes_vecops/impl/fp_status.cpp benthevining
libs/limes_vecops/impl/ipp.h benthevining
libs/limes_vecops/impl/mipp.h benthevining
libs/limes_vecops/impl/phasor.cpp benthevining
libs/limes_vecops/impl/phasor.h benthevining
libs/limes_vecops/impl/pommier/CMakeLists.txt benthevining
libs/limes_vecops/impl/pommier/neon_mathfun.cpp benthevining
libs/limes_vecops/impl/pommier/pommier_wrapper.cpp benthevining
libs/limes_vecops/impl/pommier/pommier_wrapper.h benthevining
libs/limes_vecops/impl/pommier/sse_mathfun.cpp benthevining
libs/limes_vecops/impl/pommier/sse_mathfun.h benthevining
libs/limes_vecops/impl/vdsp.h benthevining
libs/limes_vecops/limes_vecops.h benthevining
libs/limes_vecops/util/CMakeLists.txt benthevining
libs/limes_vecops/util/Constants.h benthevining
libs/limes_vecops/util/Platform.h benthevining
limes_audio/CMakeLists.txt benthevining
limes_audio/limes_audio.h benthevining
limes_audio/psola/CMakeLists.txt benthevining
limes_audio/psola/PeakFinder.cpp benthevining
limes_audio/psola/PeakFinder.h benthevining
limes_audio/streams/SampleStream.cpp benthevining
limes_audio/streams/SampleStream.h benthevining
limes_audio/streams/basic_oscillators.cpp benthevining
limes_audio/streams/oscillator.cpp benthevining
limes_audio/streams/oscillator.h benthevining
limes_audio/util/Misc.h benthevining
limes_audio/util/MonoStereoConverter.h benthevining
limes_audio/util/PitchDetector.cpp benthevining
limes_audio/util/PitchDetector.h benthevining
limes_core/CMakeLists.txt benthevining
limes_core/data_structures/CMakeLists.txt benthevining
limes_core/data_structures/LinkedListModel.h benthevining
limes_core/data_structures/LinkedListModel_impl.h benthevining
limes_core/data_structures/Version.h benthevining
limes_core/data_structures/vectors/owned_vector.h benthevining
limes_core/data_structures/vectors/scalar_vector.h benthevining
limes_core/data_structures/vectors/vector.h benthevining
limes_core/math/Fraction_impl.h benthevining
limes_core/math/mathHelpers.h benthevining
limes_core/misc/Algorithm.h benthevining
limes_core/misc/CMakeLists.txt benthevining
limes_core/misc/Functions.h benthevining
limes_core/misc/TypeTraits.h benthevining
limes_core/misc/languages.cpp benthevining
limes_core/text/CMakeLists.txt benthevining
limes_core/text/StringUtils.h benthevining
limes_core/text/TextTable.cpp benthevining
limes_core/text/TextTable.h benthevining
limes_core/threading/CMakeLists.txt benthevining
limes_core/threading/RealtimeSafeObject/AtomicObjectHolder.h benthevining
limes_core/threading/RealtimeSafeObject/CMakeLists.txt benthevining
limes_core/threading/RealtimeSafeObject/NonrealtimeMutatableObject.h benthevining
limes_core/threading/ThreadSafeObject.h benthevining
limes_music/CMakeLists.txt benthevining
limes_music/harmony/CMakeLists.txt benthevining
limes_music/harmony/Chord.h benthevining
limes_music/harmony/Pitch.h benthevining
limes_music/harmony/PitchClass.h benthevining
limes_music/harmony/intervals/CMakeLists.txt benthevining
limes_music/harmony/intervals/CompoundInterval.cpp benthevining
limes_music/harmony/intervals/CompoundInterval.h benthevining
limes_music/harmony/intervals/Interval.cpp benthevining
limes_music/harmony/intervals/Interval.h benthevining
limes_music/harmony/intervals/MicrotonalInterval.h benthevining
limes_music/harmony/scales/CMakeLists.txt benthevining
limes_music/harmony/scales/Chromatic.cpp benthevining
limes_music/harmony/scales/Mode.cpp benthevining
limes_music/harmony/scales/Scale.cpp benthevining
limes_music/harmony/scales/WholeTone.cpp benthevining
limes_music/rhythm/CMakeLists.txt benthevining
limes_music/rhythm/NoteDuration.h benthevining
limes_music/rhythm/NoteDuration_impl.h benthevining
limes_music/rhythm/NoteLength.h benthevining
limes_music/rhythm/TimeSignature.h benthevining
limes_vecops/CMakeLists.txt benthevining
limes_vecops/impl/CMakeLists.txt benthevining
limes_vecops/impl/check_intel.cpp benthevining
limes_vecops/impl/fallback.h benthevining
limes_vecops/impl/ipp.h benthevining
limes_vecops/impl/vdsp.h benthevining
limes_vecops/limes_vecops.cmake benthevining
limes_vecops/limes_vecops.h benthevining
limes_vecops/util/CMakeLists.txt benthevining
limes_vecops/util/ConfigVecops.cmake benthevining
limes_vecops/util/Constants.h benthevining
limes_vecops/util/Platform.h benthevining
mpl.h benthevining
ng
package.json benthevining
programs/binary_builder/CMakeLists.txt benthevining
programs/binary_builder/generator.cpp benthevining
programs/file_util/commandLine.cpp benthevining
programs/file_util/fileutil.cpp benthevining
scripts/FindLimes.cmake benthevining
scripts/FindOranges.cmake benthevining
scripts/LimesConfig.cmake benthevining
scripts/LimesMacros.cmake benthevining
scripts/alphabetize_codeowners.py benthevining
scripts/cmake_file_api/query.json benthevining
scripts/cmake_file_api/query_cmake_file_api.cmake benthevining
scripts/generate.sh benthevining
scripts/util.make benthevining
tests/CMakeLists.txt benthevining
tests/CMakePresets.json benthevining
tests/limes_core/random_tests.cpp benthevining
tests/limes_music/CMakeLists.txt benthevining
tests/limes_music/compoundInterval_tests.cpp benthevining
tests/limes_music/interval_tests.cpp benthevining
tests/math_tests.cpp benthevining
tests/tests_config.h benthevining
util/PresetBases.json benthevining
util/deps_graph.png benthevining
util/limes_cmake_commands.json benthevining
util/limes_header.txt benthevining
util/oranges_cmake_commands.json benthevining
util/workspace_dependencies.json benthevining
vining
xt benthevining
