

#
# * <@insert_github_username>
# Each line is a file pattern followed by one or more owners.
# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
# These owners will be the default owners for everything in the repo.
# This file is also being managed automatically by the gitown tool.
.clang-format benthevining
.clang-tidy benthevining
.cmake-format.json benthevining
.gitattributes benthevining
.github/CODEOWNERS benthevining
.github/CODE_OF_CONDUCT.md benthevining
.github/FUNDING.yml benthevining
.github/ISSUE_TEMPLATE/bug_report.md benthevining
.github/ISSUE_TEMPLATE/config.yml benthevining
.github/ISSUE_TEMPLATE/feature_request.md benthevining
.github/dependabot.yml benthevining
.github/workflows/codeql-analysis.yml benthevining
.github/workflows/test_and_release.yml benthevining
.gitignore benthevining
.gitlint benthevining
.gitownrc benthevining
.nitpick.toml benthevining
.pre-commit-config.yaml benthevining
.style.yapf benthevining
.tool-versions benthevining
CMakeLists.txt benthevining
CMakePresets.json benthevining
Makefile benthevining
README.md benthevining
cmake/FindOranges.cmake benthevining
cmake/LimesConfigVersionHeader.cmake benthevining
ector.h benthevining
hevining
ing
libs/CMakeLists.txt benthevining
libs/limes_audio/CMakeLists.txt benthevining
libs/limes_audio/limes_audio.h benthevining
libs/limes_audio/psola/CMakeLists.txt benthevining
libs/limes_audio/psola/PeakFinder.h benthevining
libs/limes_audio/streams/CMakeLists.txt benthevining
libs/limes_audio/streams/SampleStream.cpp benthevining
libs/limes_audio/streams/basic_oscillators.h benthevining
libs/limes_audio/streams/oscillator.cpp benthevining
libs/limes_audio/streams/oscillator.h benthevining
libs/limes_audio/util/CMakeLists.txt benthevining
libs/limes_audio/util/Misc.h benthevining
libs/limes_audio/util/MonoStereoConverter.cpp benthevining
libs/limes_audio/util/Windowing.h benthevining
libs/limes_core/CMakeLists.txt benthevining
libs/limes_core/data_structures/CMakeLists.txt benthevining
libs/limes_core/data_structures/Dimensions.cpp benthevining
libs/limes_core/data_structures/Dimensions.h benthevining
libs/limes_core/data_structures/LinkedListModel.h benthevining
libs/limes_core/data_structures/LinkedListModel_impl.h benthevining
libs/limes_core/data_structures/Version.cpp benthevining
libs/limes_core/data_structures/Version.h benthevining
libs/limes_core/data_structures/vectors/CMakeLists.txt benthevining
libs/limes_core/data_structures/vectors/basic_vector.h benthevining
libs/limes_core/data_structures/vectors/scalar_vector.h benthevining
libs/limes_core/data_structures/vectors/vector.h benthevining
libs/limes_core/limes_core.h benthevining
libs/limes_core/math/Fraction_impl.h benthevining
libs/limes_core/math/mathHelpers.h benthevining
libs/limes_core/misc/CMakeLists.txt benthevining
libs/limes_core/misc/Functions.h benthevining
libs/limes_core/misc/StaticObjects.h benthevining
libs/limes_core/misc/TypeTraits.h benthevining
libs/limes_core/misc/languages.cpp benthevining
libs/limes_core/text/StringUtils.cpp benthevining
libs/limes_core/text/TextTable.h benthevining
libs/limes_core/threading/CMakeLists.txt benthevining
libs/limes_core/threading/RealtimeSafeObject.h benthevining
libs/limes_core/threading/RealtimeSafeObject/AtomicObjectHolder.h benthevining
libs/limes_core/threading/RealtimeSafeObject/NonrealtimeMutatableObject.h benthevining
libs/limes_core/threading/RealtimeSafeObject/RealtimeMutatableObject.h benthevining
libs/limes_core/threading/RealtimeSafeObject/RealtimeSafeObject_impl.h benthevining
libs/limes_core/threading/ThreadSafeObject.h benthevining
libs/limes_music/CMakeLists.txt benthevining
libs/limes_music/harmony/CMakeLists.txt benthevining
libs/limes_music/harmony/Chord.cpp benthevining
libs/limes_music/harmony/Chord.h benthevining
libs/limes_music/harmony/Pitch.cpp benthevining
libs/limes_music/harmony/Pitch.h benthevining
libs/limes_music/harmony/PitchUtils.h benthevining
libs/limes_music/harmony/intervals/CMakeLists.txt benthevining
libs/limes_music/harmony/intervals/CompoundInterval.h benthevining
libs/limes_music/harmony/intervals/CompoundInterval_impl.h benthevining
libs/limes_music/harmony/intervals/Interval.cpp benthevining
libs/limes_music/harmony/intervals/MicrotonalInterval.h benthevining
libs/limes_music/harmony/scales/CMakeLists.txt benthevining
libs/limes_music/harmony/scales/Chromatic.cpp benthevining
libs/limes_music/harmony/scales/Chromatic.h benthevining
libs/limes_music/harmony/scales/KeySignature.h benthevining
libs/limes_music/harmony/scales/Mode.cpp benthevining
libs/limes_music/harmony/scales/Mode.h benthevining
libs/limes_music/harmony/scales/Octatonic.cpp benthevining
libs/limes_music/harmony/scales/Octatonic.h benthevining
libs/limes_music/harmony/scales/Scale.cpp benthevining
libs/limes_music/harmony/scales/Scale.h benthevining
libs/limes_music/harmony/scales/WholeTone.cpp benthevining
libs/limes_music/rhythm/CMakeLists.txt benthevining
libs/limes_music/rhythm/NoteDuration.h benthevining
libs/limes_music/rhythm/NoteDuration_impl.h benthevining
libs/limes_music/rhythm/NoteLength.cpp benthevining
libs/limes_music/rhythm/NoteLength.h benthevining
libs/limes_music/rhythm/NoteLength_impl.h benthevining
libs/limes_music/rhythm/TimeSignature.h benthevining
libs/limes_vecops/CMakeLists.txt benthevining
libs/limes_vecops/fft/CMakeLists.txt benthevining
libs/limes_vecops/fft/fft.cpp benthevining
libs/limes_vecops/impl/CMakeLists.txt benthevining
libs/limes_vecops/impl/SelectImpl.cmake benthevining
libs/limes_vecops/impl/check_mipp.cpp benthevining
libs/limes_vecops/impl/fallback.h benthevining
libs/limes_vecops/impl/ipp.h benthevining
libs/limes_vecops/impl/mipp.h benthevining
libs/limes_vecops/impl/vdsp.h benthevining
libs/limes_vecops/limes_vecops.h benthevining
libs/limes_vecops/util/CMakeLists.txt benthevining
libs/limes_vecops/util/Constants.h benthevining
libs/limes_vecops/util/Platform.h benthevining
limes_audio/CMakeLists.txt benthevining
limes_audio/limes_audio.h benthevining
limes_audio/psola/CMakeLists.txt benthevining
limes_audio/psola/PeakFinder.cpp benthevining
limes_audio/psola/PeakFinder.h benthevining
limes_audio/streams/SampleStream.cpp benthevining
limes_audio/streams/SampleStream.h benthevining
limes_audio/streams/basic_oscillators.cpp benthevining
limes_audio/streams/oscillator.cpp benthevining
limes_audio/streams/oscillator.h benthevining
limes_audio/util/Misc.h benthevining
limes_audio/util/MonoStereoConverter.h benthevining
limes_audio/util/PitchDetector.cpp benthevining
limes_audio/util/PitchDetector.h benthevining
limes_core/CMakeLists.txt benthevining
limes_core/data_structures/CMakeLists.txt benthevining
limes_core/data_structures/LinkedListModel.h benthevining
limes_core/data_structures/LinkedListModel_impl.h benthevining
limes_core/data_structures/Version.h benthevining
limes_core/data_structures/vectors/owned_vector.h benthevining
limes_core/data_structures/vectors/scalar_vector.h benthevining
limes_core/data_structures/vectors/vector.h benthevining
limes_core/math/Fraction_impl.h benthevining
limes_core/math/mathHelpers.h benthevining
limes_core/misc/Algorithm.h benthevining
limes_core/misc/CMakeLists.txt benthevining
limes_core/misc/Functions.h benthevining
limes_core/misc/TypeTraits.h benthevining
limes_core/misc/languages.cpp benthevining
limes_core/text/CMakeLists.txt benthevining
limes_core/text/StringUtils.h benthevining
limes_core/text/TextTable.cpp benthevining
limes_core/text/TextTable.h benthevining
limes_core/threading/CMakeLists.txt benthevining
limes_core/threading/RealtimeSafeObject/AtomicObjectHolder.h benthevining
limes_core/threading/RealtimeSafeObject/CMakeLists.txt benthevining
limes_core/threading/RealtimeSafeObject/NonrealtimeMutatableObject.h benthevining
limes_core/threading/ThreadSafeObject.h benthevining
limes_music/CMakeLists.txt benthevining
limes_music/harmony/CMakeLists.txt benthevining
limes_music/harmony/Chord.h benthevining
limes_music/harmony/Pitch.h benthevining
limes_music/harmony/PitchClass.h benthevining
limes_music/harmony/intervals/CMakeLists.txt benthevining
limes_music/harmony/intervals/CompoundInterval.cpp benthevining
limes_music/harmony/intervals/CompoundInterval.h benthevining
limes_music/harmony/intervals/Interval.cpp benthevining
limes_music/harmony/intervals/Interval.h benthevining
limes_music/harmony/intervals/MicrotonalInterval.h benthevining
limes_music/harmony/scales/CMakeLists.txt benthevining
limes_music/harmony/scales/Chromatic.cpp benthevining
limes_music/harmony/scales/Mode.cpp benthevining
limes_music/harmony/scales/Scale.cpp benthevining
limes_music/harmony/scales/WholeTone.cpp benthevining
limes_music/rhythm/CMakeLists.txt benthevining
limes_music/rhythm/NoteDuration.h benthevining
limes_music/rhythm/NoteDuration_impl.h benthevining
limes_music/rhythm/NoteLength.h benthevining
limes_music/rhythm/TimeSignature.h benthevining
limes_vecops/CMakeLists.txt benthevining
limes_vecops/impl/CMakeLists.txt benthevining
limes_vecops/impl/check_intel.cpp benthevining
limes_vecops/impl/fallback.h benthevining
limes_vecops/impl/ipp.h benthevining
limes_vecops/impl/vdsp.h benthevining
limes_vecops/limes_vecops.cmake benthevining
limes_vecops/limes_vecops.h benthevining
limes_vecops/util/CMakeLists.txt benthevining
limes_vecops/util/ConfigVecops.cmake benthevining
limes_vecops/util/Constants.h benthevining
limes_vecops/util/Platform.h benthevining
ng
package.json benthevining
scripts/FindOranges.cmake benthevining
scripts/LimesConfig.cmake benthevining
scripts/alphabetize_codeowners.py benthevining
scripts/cmake_file_api/query.json benthevining
scripts/cmake_file_api/query_cmake_file_api.cmake benthevining
scripts/generate.sh benthevining
scripts/util.make benthevining
util/PresetBases.json benthevining
util/deps_graph.png benthevining
util/limes_header.txt benthevining
util/workspace_dependencies.json benthevining
xt benthevining
